 <div class="text-center">

  <h1 >Aplicacion Calculadora con Angular<br><br></h1>

</div>
<div class="container">
<form>

  <div class="form-group row "> 

    <label>Ingrese el primer numero </label> <br><br>
 <div class="col-md-6"> 
  <input type="number"class="form-control"  id="ex0"  placeholder="Escibre el segundo numero"[(ngModel)]="numero1" name="numero1"> <br><br>
</div>

<label>Ingrese el segundo numero </label> <br><br>
 <div class="col-md-6"> 
<input type="number"class="form-control" id="ex0" placeholder="Escibre el segundo numero" [(ngModel)]="numero2" name="numero2"> <br><br> 
</div>
 
<div class="btn-group btn-group">
  <button type="submit" class="btn btn-primary"  (click)="calcular()"> Sumar</button>  
 
  <button type="submit" class="btn btn-primary"  (click)="calcular2()"> Restar</button> 
 
  <button type="submit" class="btn btn-primary"  (click)="calcular3()"> Multiplicar</button> 
 
  <button type="submit" class="btn btn-primary"  (click)="calcular4()"> Dividir</button> 
</div>
 
<div   class="col-md-6"> 
  <br> 
  <label>Resultado</label>
  <input class="form-control" readonly  placeholder="{{total}}">  
</div>
</div>

</form>
</div>


 